<!DOCTYPE html>
<html>
<head>
    <title>Cambio de contraseña - MoyanoFotografia</title>
</head>
<body>
<h1>Cambio de contraseña</h1>
<p>Querido {{ name }} su contraseña ha sido actualizada correctamente.
</p>
</body>
</html>