<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro exitoso</title>
</head>
<body>
<h1>Bienvenido a ShareAlbum</h1>
<p>¡Tu registro ha sido exitoso!</p>
<p>Tus credenciales de inicio de sesión son:</p>
<ul>
    <li><strong>Usuario:</strong> {{ username }}</li>
    <li><strong>Contraseña:</strong> {{ password }}</li>
</ul>
<p>Puedes acceder a tu cuenta <a href="{{ path('app_login') }}">aquí</a>.</p>
</body>
</html>
