<!DOCTYPE html>
<html>
<head>
    <title>Solicitud de cuenta</title>
</head>
<body>
<h1>Solicitud de cuenta</h1>
<p>Se ha recibido una nueva solicitud de cuenta con la siguiente información:</p>
<ul>
    <li><strong>Nombre:</strong> {{ username }}</li>
    <li><strong>Email:</strong> {{ useremail }}</li>
    <li><strong>Teléfono:</strong> {{ usertel }}</li>
    <li><strong>Servicio:</strong> {{ servicio }}</li>
</ul>
</body>
</html>
