@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,800');

:root {
    /*--color-primario: #FF4B2B;*/
    --color-primario: rgba(9,64,121,1);
    --color-secundario: #FFFFFF;
    --color-titulos: #252525;
    --color-background: #f6f5f7;
}

* {
    box-sizing: border-box;
}

body {
    background: var(--color-background);
    display: grid;
    justify-items: center;
    align-items:flex-start;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    width: 100%;
    margin: -20px 0 0px;
}

input {
    background-color: #eee;
    border: none;
    /* padding: 12px 15px; */
    width: 100%;
    font-size: large;
}
.submitPassword {
    text-align: center;
    margin-top: 10px;
    width: 120px;
    border-radius: 20px;
    background-color: var(--color-primario);
    color: #fff;
    font-weight: lighter;
    font-size: medium;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

button img {
    width: 50px;
    height: auto;
}

h1 {
    font-weight: 800;
    color: var(--color-titulos);
    font-size: x-large;
    /*margin-left: 40px;*/
    text-align: left;
}

svg {
    height: 32px;
    cursor: pointer;
}

.ordenacion {
    width: 100%;
    display: grid;
    /*gap: 80px;*/
    margin-top: 60px;
}

.contenedorAlbum {
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-secundario);
    border-radius: 12px;
    padding: 20px;
}

.contain {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.contain > a {
    display: flex;
    justify-content: center;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px #303030;
}
.contain > span {
    display: flex;
    justify-content: center;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px #303030;
}
.contain > a:hover {
    transform: scale(1.1);
}
.contain > span:hover {
    transform: scale(1.1);
}


.contenedorImagenes {
    /*width: calc(100% - 200px);*/
    /*background-color: var(--color-secundario);*/
    /*overflow-y: auto;*/
    /*max-height: 500px;*/
    /*padding: 20px;*/
    /*margin-top: -40px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    border-radius: 12px;
    background-color: var(--color-secundario);
    overflow-y: auto;
    max-height: 960px;
    padding: 20px;
    margin: 40px;
}

.contenedorImagenes::-webkit-scrollbar {
    width: 10px;
}

.contenedorImagenes::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    /*.contenedorImagenes {*/
    /*    width: 70%;*/
    /*}*/

    h1 {
        font-size: large;
    }

    svg {
        height: 24px;
    }

    .contain {
        gap: 20px;
    }
}

.gallery {
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-auto-flow: dense;
    grid-gap: 5px;
    overflow: hidden;
}

.gallery > a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.gallery > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery img:hover {
    cursor: pointer;
}

.container {
    width: 100%;
    margin: auto;
    /* padding: 30px 0px; */
}

.container > a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.container > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-auto-rows: 150px;
    grid-auto-flow: dense;
}

.horizontal {
    grid-column: span 2;
}

.vertical {
    grid-row: span 3;
    grid-column: span 2;
}

.big {
    grid-column: span 2;
    grid-row: span 2;
}

.boton {
    width: 80px;
    height: 38px;
    border-radius: 20px;
    border: 1px solid var(--color-primario);
    background-color: transparent;
    color: var(--color-primario);
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: transform 80ms ease-in;
    margin-left: auto;
}

.boton:hover{
    cursor: pointer;
    background-color: var(--color-primario);
    color: var(--color-secundario);
}

.image-container {
    position: relative;
    display: inline-block;
    width: 118px;
    height: 105px;
}


/* Modal Editar Album */
.modalEditarAlbum {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}
.modalEditarAlbum-content {
    margin: 0 auto;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secundario);
    border-radius: 12px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 650px;
    height: fit-content;
    max-width: 650px;
    max-height: 500px;
    min-height: 450px;
    padding: 0px 20px 0px 20px;
}
.modalEditarAlbum-content p:last-child {
    margin-top: -100px !important;
}
.modalEditarAlbum-content > h1 {
    margin-top: 40px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 30px;
    font-weight: bold;
    font-size: xx-large;
}
.modalEditarAlbum-content > .contenedorImagenesModal {
    /*width: calc(100% - 200px);*/
    width: 100%;
    min-height: 200px;
    overflow-y: auto;
    /* padding-left: 20px;
    padding-right: 20px;  */
    margin-left: auto;
    margin-right: auto;
}
.modalEditarAlbum-content > .contenedorImagenesModal > .galleryModal::-webkit-scrollbar {
    width: 10px;
}
.modalEditarAlbum-content > .contenedorImagenesModal > .galleryModal::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}
.modalEditarAlbum-content > .contenedorImagenesModal > .galleryModal {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
    width: 610px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    height: 230px;
    overflow: hidden;
    overflow-y: auto;
}
.modalEditarAlbum-content > .contenedorImagenesModal > .galleryModal img {
    /* width: 100%; */
    /* height: auto; */
    width: 118px;
    height: 105px;
    object-fit: cover;
}
.modalEditarAlbum-content > .botonesModal {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
    gap: 10px;
    border-top: 1.5px solid #ddd;
}
.closeEditarAlbum {
    margin-top: 20px;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: transparent;
    color: var(--color-primario);
    border: 1.5px solid var(--color-primario);
    font-size: medium;
}
.closeEditarAlbum:hover {
    background-color: rgba(0, 0, 0, 0.04);
}
.submitEditarAlbum {
    margin-top: 20px;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: var(--color-primario);
    color: #fff;
    font-size: medium;
}
.submitEditarAlbum:hover {
    background-color: #062749;
}
.separacion > .botonModal {
    border-radius: 20px;
    border: 2px solid var(--color-primario);
    background-color: var(--color-primario);
    color: var(--color-secundario);
    font-size: medium;
    font-weight: bold;
    height: 38px;
    width: 145px;
    /* text-transform: uppercase; */
    transition: transform 80ms ease-in;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}
.modalEditarAlbum-content > .botonesModal > .botonModal:hover {
    background-color: rgb(6, 47, 90);
}
label {
    border-radius: 20px;
    border: 2px solid var(--color-primario);
    background-color: var(--color-primario);
    color: var(--color-secundario);
    font-size: medium;
    font-weight: 600;
    height: 38px;
    width: 145px;
    transition: transform 80ms ease-in;
    cursor: pointer;
    margin-bottom: 40px;
    text-align: center;
}
.image-container {
    position: relative;
    display: inline-block;
    width: 118px;
    height: 105px;
}
.close-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    background: rgba(48, 48, 48, 0.7);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 12px;
    cursor: pointer;
    padding: 5px;
    z-index: 1;
}
.separacion {
    display: flex;
    gap: 6px;
}


.container a {
    position: relative;
    overflow: hidden;
    border-radius: 6px;
}
.container > a > img {
    width: 100%;
    height: auto;
    transition: transform .5s ease;
}
.container > a > img:hover img {
    transform: scale(1.1);
}
.container > a:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    opacity: 0;
    transition: opacity .3s ease;
}
.container > a:hover::before {
    opacity: 1;
}

.heart-icon {
    position: absolute;
    background-color: rgba(216, 216, 216, 0.62);
    border-radius: 6px;
    bottom: 4px;
    right: 4px;
    font-size: 24px;
    color: black;
    cursor: pointer;
    z-index: 2;
    padding: 6px;
}
.heart-icon:hover {
    color: red;
}
.heart-icon2 {
    position: absolute;
    bottom: 4px;
    right: 4px;
    font-size: 24px;
    color: red;
    cursor: pointer;
    z-index: 2;
    padding: 6px;
    background-color: #d8d8d8;
    border-radius: 6px;
}

.container a img {
    display: block;
}
