@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,800');

:root {
    /*--color-primario: #FF4B2B;*/
    --color-primario: rgba(9,64,121,1);
    --color-secundario: #FFFFFF;
    --color-background: #f6f5f7;
}

* {
    box-sizing: border-box;
}

.body {
    background: var(--color-background);
    display: grid;
    justify-items: center;
    align-items:flex-start;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    width: 100%;
}

.campoPassword {
    display: grid;
    justify-content: right;
    align-items: center;
}

/* MODAL CREAR CLIENT */
.modalCliente {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}
.modalCliente-content {
    margin: 0 auto;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secundario);
    border-radius: 12px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: fit-content;
    height: fit-content;
    max-width: 650px;
    min-height: 400px;
    padding: 0px 20px 0px 20px;
}
.modalCliente-content > h1 {
    margin-top: 30px;
    min-height: 40px;
    height: fit-content;
    color: #333;
    font-weight: bold;
    font-size: xx-large;
    text-align: left;
}
.modalCliente-content > .contenedorFormularioCliente {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.modalCliente-content > .contenedorFormularioCliente > form > .camposClient {
    background-color: var(--color-secundario);
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 6px;
    height: 100%;
}
.modalCliente-content > .contenedorFormularioCliente > form > .camposClient > div > .label {
    margin-top: 5px;
    text-align: left;
}
.modalCliente-content > .contenedorFormularioCliente > form > .camposClient > div > input {
    margin-top: 8px;
    padding: 12px 15px;
    width: 100%;
    font-size: large;
    background-color: #ffffff;
    border: 2px solid #b8b8b8;
    border-radius: 6px;
}
.modalCliente-content > .contenedorFormularioCliente > form > .camposClient > div > #registration_form_plainPassword {
    padding: 12px 15px;
    width: 100%;
    font-size: large;
    background-color: #ffffff;
    border: 2px solid #b8b8b8;
    border-radius: 6px;
}
.modalCliente-content > .contenedorFormularioCliente > form > .camposClient > div > #registration_form_roles {
    margin-top: 8px;
    width: 100%;
    font-size: large;
    background-color: #ffffff;
    border: 2px solid #b8b8b8;
    border-radius: 6px;
}
.contenedorFormularioCliente > form > .camposClient > div > input[type="text"],
.contenedorFormularioCliente > form > .camposClient > div > input[type="number"],
.contenedorFormularioCliente > form > .camposClient > div > div > select {
    padding: 12px 15px;
    width: 100%;
    font-size: large;
    background-color: #ffffff;
    border: 2px solid #b8b8b8;
    border-radius: 6px;
}

.modalCliente-content > .contenedorFormularioCliente > form > .camposClient > div > .password {
    position: relative;
    display: inline-block;
}
.modalCliente-content > .contenedorFormularioCliente > form > .camposClient > div > .password > input {
    background-color: #eee;
    border-radius: 5px;
    padding: 12px 10px;
    width: 100%;
    font-size: large;
}
.modalCliente-content > .contenedorFormularioCliente > form > .camposClient > div > .password > button {
    margin: 0 auto;
    margin-right: 20px;
    margin-top: 6px;
    position: absolute;
    right: 0;
    /* width: 34px;
    height: 34px; */
    border: none;
    /* border-radius: 50%;
	border-color: rgb(118, 118, 118); */
    background-color: transparent;
    padding: 0;
    font-size: 16px;
    color: rgb(118, 118, 118);
    cursor: pointer;
}
.modalCliente-content > .contenedorFormularioCliente > form > .camposClient > .password > button > img {
    width: 34px;
    height: 34px;
}
.modalCliente-content > .contenedorFormularioCliente > form > button:hover {
    background-color: rgb(6, 47, 90);
}
.camposParalelos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
    gap: 10px;
    border-top: 1.5px solid #ddd;
}

.closeCliente {
    margin-top: 20px;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: transparent;
    color: var(--color-primario);
    border: 1.5px solid var(--color-primario);
    font-size: medium;
}
.submitCliente {
    margin-top: 20px;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: var(--color-primario);
    color: #fff;
    font-size: medium;
}
.submitCliente:hover {
    background-color: rgb(6, 47, 90);

}
.desplegable {
    max-height: 100px;
    max-width: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.desplegable .label {
    display: inline-block; /* Mostrar los elementos en línea */
    width: calc(100% - 67px); /* Ajustar el ancho al contenido */
    text-align: left;
}

/* Estilo para los checkboxes */
.desplegable input[type="checkbox"] {
    display: inline-block; /* Mostrar los checkboxes en línea */
    width: 60px; /* Ajustar el ancho al contenido */
}


/* MODAL CREAR EXTRA */
.modalExtra {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}
.modalExtra-content {
    margin: 0 auto;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secundario);
    border-radius: 8px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: fit-content;
    min-height: 300px;
    height: fit-content;
    padding-left: 60px;
    padding-right: 60px;
    padding: 0px 80px 0px 80px;
}
.modalExtra-content > h1 {
    margin-top: 30px;
    margin-bottom: 10px;
    min-height: 40px;
    height: fit-content;
    color: #333;
    font-weight: bold;
    font-size: xx-large;
    text-align: left;
}
.modalExtra-content > .contenedorFormularioExtra {
    display: grid;
    justify-content: center;
    align-items: center;
}
.modalExtra-content > .contenedorFormularioExtra > form {
    background-color: var(--color-secundario);
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 40px;
    height: 100%;
}
.modalExtra-content > .contenedorFormularioExtra > form > .label {
    text-align: left;
}
.modalExtra-content > .contenedorFormularioExtra > form > input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    width: 100%;
    font-size: large;
}
.modalExtra-content > .contenedorFormularioExtra > form > .camposParalelos > button {
    width: 100%;
    border-radius: 30px;
    border: 2px solid var(--color-primario);
    background-color: var(--color-primario);
    color: var(--color-secundario);
    font-size: medium;
    font-weight: bold;
    padding: 12px 15px;
    transition: transform 80ms ease-in;
    cursor: pointer;
    margin: 10px 0px 20px 0px;
}


/* MODAL CREAR SERVICIO */
.modalServicio {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}
.modalServicio-content {
    margin: 0 auto;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secundario);
    border-radius: 8px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: fit-content;
    min-height: 300px;
    height: fit-content;
    padding-left: 60px;
    padding-right: 60px;
    padding: 0px 80px 0px 80px;
}
.modalServicio-content > h1 {
    margin-top: 30px;
    margin-bottom: 10px;
    min-height: 40px;
    height: fit-content;
    color: #333;
    font-weight: bold;
    font-size: xx-large;
    text-align: left;
}
.modalServicio-content > .contenedorFormularioServicio {
    display: grid;
    justify-content: center;
    align-items: center;
}
.modalServicio-content > .contenedorFormularioServicio > form {
    background-color: var(--color-secundario);
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 40px;
    height: 100%;
}
.modalServicio-content > .contenedorFormularioServicio > form > .label {
    text-align: left;
}
.modalServicio-content > .contenedorFormularioServicio > form > input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    width: 100%;
    font-size: large;
}
.modalServicio-content > .contenedorFormularioServicio > form > .camposParalelos > button {
    width: 100%;
    border-radius: 30px;
    border: 2px solid var(--color-primario);
    background-color: var(--color-primario);
    color: var(--color-secundario);
    font-size: medium;
    font-weight: bold;
    padding: 12px 15px;
    transition: transform 80ms ease-in;
    cursor: pointer;
    margin: 10px 0px 20px 0px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

button img {
    width: 50px;
    height: auto;
}

h1, .label {
    font-weight: 600;
    /* color: var(--color-secundario); */
    text-align: center;
}

.container {
    /*width: 100%;*/
    width: fit-content;
}

.centered {
    text-align: center !important; /* Establece el centrado horizontal */
}

.cabecera {
    width: 100%;
    height: 150px;
    margin-top: 100px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff url(/img/fondo1.jpg) center center/cover no-repeat;
    background-position: center -195px;
    /*background: #ffffff url(/img/fondo2.jpg) center center/cover no-repeat;*/
    /*background-position: center -240px;*/
    /*border-top: 1px solid rgba(0, 0, 0, 0.25);*/
    /*border-bottom: 1px solid rgba(0, 0, 0, 0.25);*/
}

.contenidoCabecera {
    width: fit-content;
    background-color: var(--color-secundario);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 15px 40px;
    border-radius: 40px;
    box-shadow: 0px 5px 15px 0px #303030;
}

.titulo {
    margin: 0;
    color: rgb(14, 14, 14);
    text-align: center;
    font-size: 30px;
}

.contenedor-dataTable {
    width: auto;
    /*margin-top: 20px;*/
    padding-top: 30px;
    padding-bottom: 10px;
    margin: 30px 40px 10px 40px;
    background-color: #FFFFFF !important;
    border-radius: 12px;
}

.album {
    font-weight: 600;
    cursor: pointer;
    color: #222;
}
.album:hover {
    text-decoration: none;
    color: #777777;
}
.cliente {
    font-weight: 600;
    color: #222;
}
/* .bloque {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
} */
.contenedor-padre {
    width: 100vw;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 60px;
    padding-bottom: 80px;
}

.contenedor-hijos {
    display: grid;
    justify-content: center;
    align-items: start;
}

.contenedor-hijos.hijo1 {
    max-width: 60%;
    width: 100%;
}

.contenedor-hijos.hijo2 {
    width: 30%;
}

.contenedor-tarjetas {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    background-color: var(--color-secundario);
    padding: 20px;
}

.tarjeta {
    height: 80px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: var(--color-background);
}

.tarjeta:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.tarjeta img {
    height: 100%;
    width: auto;
    object-fit: cover;
}

.contenido-texto {
    margin-top: 6px;
    margin-left: 10px;
    word-break: break-all;
    line-height: 1.5;
    display: grid;
    justify-content: center;
}

.contenido-texto h2, p {
    padding: 0;
}

.contenido-texto h2 {
    font-size: medium;
    font-weight: 600;
}

.contenido-texto p {
    font-size: small;
}

.margen-izquierdo {
    margin-left: 12px;
}


@media (max-width: 1100px) {

    .contenedor-hijos.hijo1 {
        max-width: 90%;
    }

}

@media (max-width: 768px) {

    .contenedor a {
        margin-left: 40px;
        font-weight: bold;
    }

    .margen-izquierdo {
        margin-left: 0px;
    }

    .contenedor {
        justify-items: left;
        margin-top: 30px;
        margin-left: -80px;
    }

    img {
        max-width: 150px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    img {
        max-width: 100px;
    }

    h2, p {
        font-size: 12px;
    }
}

.titulo-hijo {
    font-size: x-large;
    font-weight: 800;
    /* margin-bottom: 30px; */
    text-align: center;
}

.botones {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 60px;
    padding: 40px;
    background-color: #222222a6;
    border-radius: 2px;
}

.boton {
    width: 100px;
    height: 38px;
    border-radius: 20px;
    border: 1px solid var(--color-primario);
    /* background-color: var(--color-secundario); */
    background-color: transparent;
    color: var(--color-primario);
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: transform 80ms ease-in;
}

.boton:active {
    transform: scale(0.95);
}

.boton.ghost {
    background-color: transparent;
    border-color: var(--color-primario);
    color: var(--color-primario);
    font-size: medium;
}

.boton.ghost:hover {
    background-color: var(--color-primario);
    color: var(--color-secundario);
}

.botonBanner {
    margin: 0 auto;
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 100px;
    background-color: var(--color-secundario);
    color: var(--color-primario);
    font-size: 20px;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.botonBanner:hover {
    background-color: var(--color-primario);
    /* box-shadow: 0 0 20px #6fc5ff50; */
    transform: scale(1.1);
    color: var(--color-secundario);
}

.botonBanner:active {
    background-color: var(--color-primario);
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

footer {
    background-color: #222;
    color: var(--color-secundario);
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: #3c97bf;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}

/* Estilos tablas */

.centered {
    text-align: center !important; /* Establece el centrado horizontal */
}

/* #verTicket {
    margin-left: 8px;
} */

table th {
    background-color: var(--color-primario) !important;
    color: white;
    text-align: center !important;
}

table th:nth-child(5), table th:nth-child(6), table th:nth-child(7) {
    pointer-events: none;
}

label {
    color: #333;
}

table > tbody > tr > td {
    vertical-align: middle !important;
}

table > tbody > tr > td:nth-child(1), table > tbody > tr > td:nth-child(5) {
    text-align: center !important;
}

.dt-type-numeric {
    margin: 0 auto;
}

.dt-search {
    display: flex;
    justify-content: right;
    align-items: center;
}

.btn-group, .btn-group-vertical {
    position: absolute !important;
    margin-bottom: 20px;
}

.btn-group, .dt-search {
    margin-bottom: 20px !important;
}

.pagination {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.buttons-print {
    margin-right: 400px;
}

/* Propiedades para la impresión de la tabla*/
@page {
    size: auto;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

@page :first {
    content: none;
}



/* MODAL EDITAR CLIENTE*/
.modalEditarCliente {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}
.modalEditarCliente-content {
    margin: 0 auto;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secundario);
    border-radius: 12px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: fit-content;
    height: fit-content;
    max-width: 650px;
    min-height: 520px;
    padding: 0px 20px 0px 20px;
}
.modalEditarCliente-content > h1 {
    margin-top: 40px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    font-weight: bold;
    font-size: xx-large;
}
.botonesPerfil {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10px;
    border-top: 1.5px solid #ddd;
}
.modalEditarCliente-content > .contenedorFormularioEditarCliente {
    display: grid;
    justify-content: center;
    align-items: center;
}
.modalEditarCliente-content > .contenedorFormularioEditarCliente > form {
    background-color: var(--color-secundario);
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 12px;
    height: 100%;
}
.modalEditarCliente-content > .contenedorFormularioEditarCliente > form > .camposClient {
    background-color: var(--color-secundario);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6px;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.modalEditarCliente-content > .contenedorFormularioEditarCliente > form > .camposClient > div > .label {
    margin-top: 5px;
    text-align: left;
}
.modalEditarCliente-content > .contenedorFormularioEditarCliente > form > .camposClient > div > label {
    margin-bottom: 0rem;
}
.modalEditarCliente-content > .contenedorFormularioEditarCliente > form > .camposClient > div > input {
    margin-top: 8px;
    width: 100%;
    background-color: #ffffff;
    border: 2px solid #b8b8b8;
    border-radius: 6px;
    padding: 12px 15px;
    font-size: large;
}
.modalEditarCliente-content > .contenedorFormularioEditarCliente > form > .camposClient > div > input[readonly] {
    background-color: #d8d8d8;
    color: #5e5e5e;
    cursor:auto;
}
.modalEditarCliente-content > .contenedorFormularioEditarCliente > form > button {
    width: fit-content;
    display: flex;
    justify-content: left;
    align-items: center;
}
.modalEditarCliente-content > .contenedorFormularioEditarCliente > form > .botonesEditarCliente {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
    gap: 10px;
    border-top: 1.5px solid #ddd;
}
.closeEditarCliente {
    margin-top: 20px;
    width: fit-content;
    padding: 10px 50px;
    border-radius: 30px;
    background-color: transparent;
    color: var(--color-primario);
    border: 1.5px solid var(--color-primario);
    font-size: medium;
}
.submitEditarCliente {
    margin-top: 20px;
    width: fit-content;
    padding: 10px 50px;
    border-radius: 30px;
    background-color: var(--color-primario);
    color: #fff;
    font-size: medium;
}
.padding {
    padding: 12px 15px;
}
.hidden {
    display: none;
}
.show {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6px;
    justify-content: center;
    align-items: center;
}
.show > div > .label {
    margin-top: 5px;
    text-align: left;
}
.show > div > label {
    margin-bottom: 0rem;
}
.show > div > input {
    margin-top: 8px;
    width: 100%;
    background-color: #ffffff;
    border: 2px solid #b8b8b8;
    border-radius: 6px;
    padding: 12px 15px;
    font-size: large;
}