@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

:root {
    /*--color-primario: #FF4B2B;*/
    --color-primario: rgba(9,64,121,1);
    --color-secundario: #FFFFFF;
    --color-background: #f6f5f7;
}

footer {
    background-color: #222;
    color: var(--color-secundario);
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
    font-family: 'Montserrat', sans-serif;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: #3c97bf;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}