@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,800');

:root {
    /*--color-primario: #FF4B2B;*/
    --color-primario: rgba(9,64,121,1);
    --color-secundario: #FFFFFF;
    --color-titulos: #252525;
    --color-background: #252525;
}

* {
    box-sizing: border-box;
}

body {
    background: var(--color-background);
    display: grid;
    justify-content: center;
    align-items:flex-start;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: -20px 0 0px;
}

h1 {
    font-weight: bold;
    text-align: center;
    height: fit-content;
}

p {
    height: fit-content;
    overflow-wrap: break-word;
    font-weight: 100;
    line-height: 20px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
}

button {
    border-radius: 20px;
    border: 2px solid var(--color-primario);
    background-color: var(--color-primario);
    color: var(--color-secundario);
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

button:hover {
    background-color: rgb(6, 47, 90);
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.container-content {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secundario);
    border-radius: 14px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 625px;
    max-width: 100%;
    min-height: 410px;
    margin: 0 auto;
}

form {
    background-color: var(--color-secundario);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: left;
}

input {
    background-color: #eee;
    border-radius: 20px;
    border: 1px solid #eee;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

label {
    font-size: 14px;
    margin-top: 10px;
    text-align: left;
}

.campos {
    display: grid;
    align-items: center;
    width: 80%;
}